@import "blocks/ticker.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #10181f;
    --text-color: #ffffff;
    --primary-color: #33ffd3;
    --secondary-color: #91f2e8;
    --headline-1: clamp(2rem, 10vw, 5rem);
    --headline-2: clamp(1.4rem, 6vw, 3rem);
    --h1-family: "Satoshi-Black", system-ui, -apple-system, sans-serif;
    --h2-family: "Satoshi-Bold", system-ui, -apple-system, sans-serif;
    --h3-family: "Satoshi-Medium", system-ui, -apple-system, sans-serif;
    --h4-family: "Satoshi-Regular", system-ui, -apple-system, sans-serif;
    --fs-about-big: clamp(1.222rem, 3dvw, 2.111rem);
    --fs-about-normal: clamp(1.222rem, 2dvw, 1.944rem);
    --fs-selected-title: clamp(1.444rem, 4dvw, 6.667rem);
    --fs-hover-links-big: clamp(1.111rem, 6dvw, 3.333rem);
    --fs-hover-links-skills: clamp(1.111rem, 2dvw, 1.333rem);
    --fs-skills-item: clamp(1.111rem, 4dvw, 2.889rem);
    --fs-footer-headline: clamp(2.222rem, 8dvw, 10.667rem);
    --mr-about-intro: clamp(0.833rem, 2dvw, 2.222rem);
    --lh-about-intro: clamp(3rem, 6dvw + 1.5rem, 16rem);
    --card-pad-x: clamp(20px, 3vw, 30px);
    --card-pad-y: clamp(15px, 3vw, 26px);
    --border-color: #dbdada;
    --fs-card-title: clamp(25px, 1dvw, 18px);
    --fs-info-row: clamp(18px, 1dvw, 16px);
    --fs-about-headline: clamp(1rem, 8dvw, 4.5rem);
    --fs-about-p: clamp(1rem, 6dvw, 2.8rem);
    --lh-about-p: clamp(1rem, 5dvw + 1.5rem, 5rem);
    --fw-black: "Satoshi-Black";
    --fw-bold: "Satoshi-Bold";
    --fw-light: "Satoshi-Light";
    --fw-medium: "Satoshi-Medium";
    --fw-regular: "Satoshi-Regular";
}

:root.dark {
    --background: #111820;
    --text-color: #ffffff;
    --primary-color: #60f2c2;
}

@font-face {
    font-family: "Satoshi-Black";
    src: url("/fonts/Satoshi-Black.woff");
}

@font-face {
    font-family: "Satoshi-Bold";
    src: url("../fonts/Satoshi-Bold.woff");
}

@font-face {
    font-family: "Satoshi-Light";
    src: url("../fonts/Satoshi-Light.woff");
}

@font-face {
    font-family: "Satoshi-Medium";
    src: url("../fonts/Satoshi-Medium.woff");
}

@font-face {
    font-family: "Satoshi-Regular";
    src: url("../fonts/Satoshi-Regular.woff");
}

body {
    background-color: var(--background);
    color: var(--text-color);
    font-size: 18px;
    font-family: "Satoshi-Regular", system-ui, -apple-system, sans-serif;
}

nav {
    background-color: var(--background);
    color: var(--text-color);
}

.prose {
    max-width: none;
    p {
        font-size: 18px;
    }
}

.container {
    max-width: 1600px;
}

.home-stagger .container {
    max-width: 80%;
}

h1 {
    font-size: var(--headline-1);
    font-family: var(--h1-family);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin: 1.5rem 0;
    color: var(--text-color);
}
h2 {
    font-size: 2.5rem;
    font-family: var(--h2-family);
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 1rem;
    color: var(--text-color);
}
h3 {
    font-size: 1.8rem;
    font-family: var(--h3-family);
    font-weight: 700;
    margin-bottom: 1rem;
}
h4 {
    font-size: 1.5rem;
    font-family: var(--h4-family);
    font-weight: 700;
    margin-bottom: 1rem;
}
p {
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.fw-black {
    font-family: var(--fw-black);
}

.fw-bold {
    font-family: var(--fw-bold);
}

.fw-light {
    font-family: var(--fw-light);
}

.fw-medium {
    font-family: var(--fw-medium);
}

.fw-regular {
    font-family: var(--fw-regular);
}

.home-hero {
    background-color: #111820;
    padding-top: 4rem;
    padding-bottom: 4rem;
    h1 {
        font-size: var(--headline-1);
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: -0.02em;
        margin: 1.5rem 0;
        color: var(--primary-color);
    }
    h2 {
        font-size: var(--headline-2);
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: -0.02em;
        margin-bottom: 1rem;
        color: var(--primary-color);
    }
    p {
        color: #fff;
        margin-bottom: 1.5rem;
    }
}

.home-about {
    background: var(--primary-color);
    color: var(--background);
    padding: 4rem 0 1rem 0;
    h2 {
        color: var(--background);
        font-size: var(--fs-about-big);
    }
    p {
        color: var(--background);
        font-size: var(--fs-about-normal);
        line-height: 1.4;
        font-weight: var(--fw-medium);
    }
}

.home-about-narrow {
    background: var(--primary-color);
    color: var(--background);
    padding: 0 0 1rem 0;
    h2 {
        color: var(--background);
        font-size: var(--fs-about-big);
        margin-right: 3rem;
        line-height: 1.4;
    }
    p {
        color: var(--background);
        font-size: var(--fs-about-normal);
        line-height: 1.4;
        font-weight: var(--fw-medium);
        strong {
            font-family: var(--fw-bold);
        }
    }
}

.cv-buttons {
    display: flex;
    background: var(--primary-color);
    padding: 0 0 4rem 0;
    justify-content: flex-end !important;
    h3 {
        color: var(--background);
    }
    .container div {
        justify-content: flex-end !important;
        text-align: right !important;
    }
    .button-one {
        margin-right: 1rem !important;
        width: 12rem !important;
        height: 12rem !important;
        text-align: center !important;
        line-height: 12rem !important;
        justify-content: center !important;
        background: var(--background) !important;
        color: var(--primary-color) !important;
        border-radius: 9999px !important;
    }
    .button-two {
        margin-right: 0 !important;
        width: 12rem !important;
        height: 12rem !important;
        text-align: center !important;
        line-height: 12rem !important;
        justify-content: center !important;
        background: var(--background) !important;
        color: var(--primary-color) !important;
        border-radius: 9999px !important;
    }
}

.portfolio-items {
    background: var(--background);
    padding: 4rem 0;
    h2 {
        color: var(--primary-color);
    }
    .portfolio-item {
        a {
            text-align: center;
            background: var(--background);
            h3 {
                color: var(--primary-color);
                padding-left: 0;
                transition: all 0.3s ease;
                margin-bottom: 0;
            }
            .portfolio-description {
                p {
                    color: var(--primary-color);
                    padding-right: 0;
                    transition: all 0.3s ease;
                    line-height: 1;
                    margin-bottom: 0;
                }
            }
            &:hover {
                text-align: center;
                background: var(--background);
                h3 {
                    color: #fff;
                    padding-left: 1.5rem;
                    transition: all 0.3s ease;
                    margin-bottom: 0;
                }
                .portfolio-description {
                    p {
                        color: #fff;
                        padding-right: 1.5rem;
                        transition: all 0.3s ease;
                        line-height: 1;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.service-hero {
    background-color: #111820;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
    h1,
    p {
        color: var(--primary-color);
    }
}

.service-section {
    background-color: #e2f3e9;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.service-card {
    background-color: #111820;
    padding: 2rem;
    transition: transform 0.2s ease-in-out;
    h3 {
        color: var(--primary-color);
    }
    p {
        color: #fff;
    }
    button {
        background-color: var(--primary-color);
        color: #111820;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }
    button:hover {
        background-color: #fff;
    }
}

.services {
    background-color: #f3f3f3;
    h2,
    h3 {
        color: var(--background);
    }
}

.blog-block {
    background-color: #ffffff;
}

.contact {
    padding-bottom: 3rem;
    button {
        background-color: var(--primary-color);
        color: #111820;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }
    button:hover {
        background-color: var(--text-color);
        color: #fff;
    }
}

.home-contact {
    background-color: #111820;
    padding-top: 4rem;
    padding-bottom: 4rem;
    h2 {
        color: var(--primary-color);
    }
    p,
    label {
        color: #fff;
    }
    button {
        background-color: var(--primary-color);
        color: #111820;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }
    button:hover {
        background-color: #fff;
    }
}

.footer-bg {
    background-color: #111820;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* blog related css */

.blogg {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 4rem;

    .blog-intro {
        font-size: 1.5rem;
        padding-top: 2rem;
    }

    h3,
    h2 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1.3rem;
    }

    ul {
        margin-bottom: 1.3rem;
        list-style-type: disc;
        padding-left: 1.4rem;
    }
    .home-contact {
        margin-top: 3rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        border-radius: 30px;
        h2 {
            color: var(--primary-color);
        }
        p,
        label {
            color: #fff;
        }
        button {
            background-color: var(--primary-color);
            color: #111820;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
        }
        button:hover {
            background-color: #fff;
        }
    }
}

.category-tag {
    background-color: var(--primary-color);
    color: #111820;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.faq {
    .faq-item {
        margin-bottom: 0.5rem;
        background-color: var(--text-color);
        color: var(--primary-color);
        border-radius: 1rem;
        padding: 1.5rem;
    }
}

#page-integritetspolicy,
#page-anvandarvillkor,
#page-om-kalibr {
    ul {
        margin-bottom: 1.5rem;
        list-style-type: disc;
        padding-left: 1.4rem;
    }
    p {
        margin-bottom: 1.5rem;
    }
}

footer {
    ul {
        list-style-type: none !important;
        padding-left: 0 !important;
    }
}

.ticker-section {
    padding: 6rem 0 0 0 !important;
    background-color: var(--background) !important;
}

.ticker-section-two {
    padding: 0 !important;
    background-color: var(--background) !important;
}

.ticker-section-last {
    padding: 0 0 6rem 0 !important;
    background-color: var(--background) !important;
}

.ticker-stripe {
    margin: 2rem 0 2rem 0 !important;
}
